<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <title>Tic-Tac-Toe | 404</title>
    <meta name="description" content="Play Tic-Tac-Toe online. Simple, fast and fun game" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="preload" href="/static/css/style.css" as="style" />
    <link rel="preload" href="/static/css/sm.css" as="style" />
    <link rel="preload" href="/static/fonts/DMSans-Regular.ttf" as="font" />
    <link rel="stylesheet" href="/static/css/sm.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="icon" href="/static/favicon.png" />
</head>

<body>
    <div class="container home">
        <span class="x">x</span>
        <span class="o">o</span>
        <div class="titleView">
            <h1 class="title">Tic Tac Toe <br/> <span>Not Found</span></h1>
        </div>
        
        <div class="infos">
            <p class="err">404 Not Found</p>
        </div>
        
    </div>
</body>

</html>
