<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>tic-tac-toe</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/sm.css">
</head>

<body>
    <div class="container leftside">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/game">GAME</a></li>
            <li><a href="/results">RESULTS</a></li>
        </ul>
    </div>
    <div class="container home">
        <span class="x">x</span>
        <span class="o">o</span>
        <div class="titleView">
            <h1 class="title">Tic Tac Toe <br/> <span>About</span></h1>
        </div>
        
        <div class="infos">
            <p>Morpion game v1.0.0(1)</p>
        </div>
        
    </div>
</body>

</html>
