<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <title>Tic-Tac-Toe | Infos</title>
    <meta name="description" content="Play Tic-Tac-Toe online. Simple, fast and fun game built with Node.js." />
    <meta name="robots" content="index, follow" />
    <link rel="preload" href="/static/css/style.css" as="style" />
    <link rel="preload" href="/static/css/sm.css" as="style" />
    <link rel="preload" href="/static/fonts/DMSans-Regular.ttf" as="font" />
    <link rel="stylesheet" href="/static/css/sm.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="icon" href="/static/favicon.ico" />
</head>

<body>
    <div class="container leftside">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/game">GAME</a></li>
            <li><a href="/results">RESULTS</a></li>
        </ul>
    </div>
    <div class="container home">
        <span class="x">x</span>
        <span class="o">o</span>
        <div class="titleView">
            <h1 class="title">Tic Tac Toe <br/> <span>About</span></h1>
        </div>
        
        <div class="infos">
            <p>Morpion game <%= version_code %></p>
            <div class="col">
                <% about.forEach(a => { %>
                    <p class="about-text"><%= a %></p>
                <% }) %>
            </div>
        </div>
        
    </div>
</body>

</html>
